* {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

html {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  height: 100vh;
  background-color: #1E1E1E;
  color: #ffffff;
}

main header {
  flex-direction: column;
  padding: 1rem 1rem;
}
main header .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}
main header .menu .back {
  width: 2rem;
  height: 2rem;
  content: url("/image/icons/back.svg");
}
main nav {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0.7rem 1.1rem;
  font-weight: 500;
}
main nav input {
  display: none;
}
main nav input:checked + label {
  background-color: #E52335;
}
main nav label {
  padding: 0.6rem 0.9rem;
  margin: 0 0.3rem;
  border-radius: 1em;
  background-color: #3A3939;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
main section {
  padding-top: 0;
  padding-bottom: 6rem;
}
main section#descriptions {
  padding: 0;
  padding-bottom: 1rem;
}
main section#settings {
  height: 70vh;
}
main section#settings > div {
  display: flex;
  flex-direction: column;
  height: 95%;
  padding: 1rem;
  justify-content: center;
}
main section#settings > div > div {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
}
main section#settings > div > div.who-did {
  position: relative;
  flex-grow: 1;
  padding-top: 2em;
}
main section#settings > div > div.who-did > div {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}
main section#settings .options {
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
}
main section#settings .options form {
  display: grid;
  grid-template-columns: 3fr -webkit-min-content;
  grid-template-columns: 3fr min-content;
  row-gap: 1rem;
}
main section#settings .options form label {
  align-self: center;
}
main section#settings .options form .ios-checkbox {
  position: relative;
  width: 2.8rem;
  height: 1.7rem;
  justify-self: center;
  background-color: #F2F2F2;
  border-radius: 30%/50%;
  cursor: pointer;
}
main section#settings .options form .ios-checkbox:has(input[type=checkbox]:checked) {
  background-color: #34C759;
}
main section#settings .options form .ios-checkbox input[type=checkbox] {
  visibility: hidden;
}
main section#settings .options form .ios-checkbox input[type=checkbox]:checked + label {
  right: 0.1rem;
}
main section#settings .options form .ios-checkbox label {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1.15rem;
  top: 0.1rem;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
main section > div {
  padding: 0;
}
main section > div > div {
  background-color: #3A3939;
  border-radius: 1.2rem;
  margin: 0.5rem 1rem;
  padding: 0.7rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
main section > div > div + div {
  margin-top: 1rem;
}
main section > div > div .preview {
  width: 100%;
  margin-bottom: 1.8rem;
  background-color: #3A3939;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
}
main section > div > div .preview::after {
  content: attr(time-delay);
  position: absolute;
  right: 5%;
  bottom: -10%;
  min-width: 4.6rem;
  padding: 0.6rem 0.9rem;
  margin-top: 5rem;
  border-radius: 1em;
  background-color: #E52335;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 1rem;
}
main section > div > div .preview img {
  width: 100%;
  border-radius: 0.7rem;
}
main section > div > div .preview + div {
  line-height: 1.2em;
}
main section > div > div .sub-text {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
}

header {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header .title {
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.1em;
}
header .sub-title {
  font-weight: 600;
  letter-spacing: 0.15em;
}
header .sub-title::first-letter {
  color: #E52335;
}
header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}
header .logo .title {
  font-size: 5em;
}
header .logo .sub-title {
  font-size: 2em;
}
header .auntifications {
  display: none;
  width: 100%;
  height: 2em;
  justify-content: space-around;
  padding-top: 0.5rem;
  margin-top: -0.5rem;
}
header .auntifications a {
  color: #ffffff;
}
header .auntifications input {
  display: none;
}
header .auntifications > * {
  width: 40%;
}
header .auntifications > input:checked + label {
  border-bottom: #E52335 solid;
}
header:has(progress[value="100"]) {
  -webkit-animation: logoUp 1s 1 forwards cubic-bezier(0.11, 0.83, 1, 0.67);
          animation: logoUp 1s 1 forwards cubic-bezier(0.11, 0.83, 1, 0.67);
}
header:has(progress[value="100"]) + #entryPage {
  display: block;
}
header progress[value="100"] {
  display: none;
}
header progress[value="100"] ~ .logo {
  width: 100vw;
  padding: 4rem 0;
}
header progress[value="100"] ~ .auntifications {
  display: flex;
  -webkit-animation: fadeIn 1s both;
          animation: fadeIn 1s both;
}

#enterFrame {
  height: 100%;
}

#entryPage {
  display: none;
}
header:has(progress[value="100"]) + #entryPage {
  display: block;
}

section {
  padding: 2rem 0;
}
section#agreementPage {
  font-weight: 400;
  font-size: 0.8rem;
}
section#agreementPage h3 {
  font-weight: 600;
}
section#agreementPage a div {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("/image/icons/back.svg");
}
section form {
  display: flex;
  flex-direction: column;
}
section > * {
  padding: 0.5rem 1.5rem;
}
section input {
  background-color: #1E1E1E;
  padding: 0.5rem 0;
}
section input::-moz-placeholder {
  color: #ffffff;
}
section input:-ms-input-placeholder {
  color: #ffffff;
}
section input::placeholder {
  color: #ffffff;
}
section .enterInput {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 2rem;
}
section .enterInput label {
  color: rgba(255, 255, 255, 0.2);
}
section .enterInput .inputInline {
  display: flex;
}
section .enterInput .inputInline input {
  flex-basis: 90%;
  margin-right: 5%;
}
section .enterInput .inputInline .password-control {
  width: 1.5em;
  height: 1em;
  margin-top: 0.7rem;
  background: url("/image/icons/show.svg") 0 0 no-repeat;
}
section .enterInput .inputInline .password-control.view {
  background: url("/image/icons/no-show.svg") 0 0 no-repeat;
}

article {
  padding: 0;
  height: calc(100% + 18vh);
}
article > * {
  position: relative;
  top: -4.5rem;
}
article .view {
  padding: 0;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  z-index: -1;
}
article .view img {
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}
article .view::after {
  content: attr(time-delay);
  position: absolute;
  right: 5%;
  bottom: -5%;
  min-width: 4.6rem;
  padding: 0.6rem 0.9rem;
  margin-top: 5rem;
  border-radius: 1em;
  background-color: #E52335;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 1rem;
}
article div {
  padding: 1rem;
  padding-top: 2rem;
}
article div .price {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #E52335;
  font-size: 0.9rem;
}
article div h2,
article div .price {
  width: 90%;
}
article div ul {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.5rem;
  list-style: disc;
  margin: 1rem;
  line-height: 1.5em;
}
article div .btn {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem 0 1.5rem;
  background-color: rgba(58, 57, 57, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 10000;
}
footer nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer nav a {
  width: 1.7rem;
  height: 1.7rem;
}
footer nav a#contact {
  background-image: url("/image/icons/contact.svg");
}
footer nav a#home {
  background-image: url("/image/icons/home.svg");
}
footer nav a#profile {
  background-image: url("/image/icons/profile.svg");
}

progress#preloader {
  height: 1px;
  margin-top: 1rem;
  background-color: #1E1E1E;
}
progress#preloader::-webkit-progress-bar {
  background-color: #1E1E1E;
}
progress#preloader::-webkit-progress-value {
  border-radius: 2px;
  background-color: #E52335;
}
progress#preloader::-moz-progress-bar {
  border-radius: 2px;
  background-color: #E52335;
}

a {
  color: #E52335;
}

input {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

.btn {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.1rem 0;
  border-radius: 1rem;
  background-color: #3A3939;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.btn:first-of-type {
  margin-top: 1rem;
}
.btn.enable {
  background-color: #E52335;
}

.eroorMessage {
  margin-top: 1rem;
  margin-bottom: -3.5rem;
  font-size: 0.7em;
  font-weight: 400;
}

.agreement {
  display: flex;
  margin: 2rem 0 0;
}
.agreement label,
.agreement a {
  font-size: 0.7rem;
  font-weight: 400;
  color: #ffffff !important;
}
.agreement a {
  text-decoration: underline;
}
.agreement input[type=radio] {
  width: 1em;
  height: 1em;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  -webkit-appearance: none;
}
.agreement input[type=radio]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 9px 9px;
}
.agreement input[type=radio]:focus {
  outline-color: transparent;
}

.notifications {
  width: 2rem;
  height: 2.86rem;
  background-image: url("/image/icons/notifications.svg");
  background-size: contain;
}
.notifications::before {
  content: "";
  display: inline-block;
  width: 27%;
  height: 18.9%;
  position: relative;
  top: -0.4rem;
  left: 0.3rem;
  z-index: 5;
  border-radius: 50%;
  background-color: #E52335;
}

.hide-before::before,
.hide-after::after {
  display: none;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

#deleteAccount h5 {
  color: rgba(255, 255, 255, 0.4);
}